Nodes {
	(n1): {
	    "name": "CSV Reader",
	    "factory": "org.knime.base.node.io.csvreader.CSVReaderNodeFactory",
	    "bundle_name": "KNIME Base Nodes",
	    "bundle_symbolic_name": "org.knime.base",
	    "bundle_version": "3.7.1.v201901291053",
	    "feature_name": "KNIME Core",
	    "feature_symbolic_name": "org.knime.features.base.feature.group",
	    "feature_version": "3.7.1.v201901291053",
	    "model": [
	        {
	            "url": "/Users/jared/knime-workspace/Example Workflows/TheData/Misc/Demographics.csv"
	        },
	        {
	            "colDelimiter": ","
	        },
	        {
	            "rowDelimiter": "%%00010"
	        },
	        {
	            "quote": "\""
	        },
	        {
	            "commentStart": "#"
	        },
	        {
	            "hasRowHeader": true
	        },
	        {
	            "hasColHeader": true
	        },
	        {
	            "supportShortLines": false
	        },
	        {
	            "limitRowsCount": -1,
	            "data_type": "xlong"
	        },
	        {
	            "skipFirstLinesCount": -1
	        },
	        {
	            "characterSetName": "",
	            "isnull": true
	        },
	        {
	            "limitAnalysisCount": -1
	        }
	    ]
	}

	(n2): {
	    "name": "Table to JSON",
	    "factory": "org.knime.json.node.fromtable.TableToJsonNodeFactory",
	    "bundle_name": "JSON related functionality for KNIME",
	    "bundle_symbolic_name": "org.knime.json",
	    "bundle_version": "3.7.1.v201901281201",
	    "feature_name": "KNIME JSON-Processing",
	    "feature_symbolic_name": "org.knime.features.json.feature.group",
	    "feature_version": "3.7.1.v201901281201",
	    "model": [
	        {
	            "selectedColumns": [
	                {
	                    "filter-type": "STANDARD"
	                },
	                {
	                    "included_names": [
	                        {
	                            "array-size": 12
	                        },
	                        {
	                            "0": "MaritalStatus"
	                        },
	                        {
	                            "1": "Gender"
	                        },
	                        {
	                            "2": "EstimatedYearlyIncome"
	                        },
	                        {
	                            "3": "SentimentRating"
	                        },
	                        {
	                            "4": "WebActivity"
	                        },
	                        {
	                            "5": "NumberOfContracts"
	                        },
	                        {
	                            "6": "Age"
	                        },
	                        {
	                            "7": "Target"
	                        },
	                        {
	                            "8": "Available401K"
	                        },
	                        {
	                            "9": "CustomerValueSegment"
	                        },
	                        {
	                            "10": "ChurnScore"
	                        },
	                        {
	                            "11": "CallActivity"
	                        }
	                    ]
	                },
	                {
	                    "excluded_names": [
	                        {
	                            "array-size": 0
	                        }
	                    ]
	                },
	                {
	                    "enforce_option": "EnforceExclusion"
	                },
	                {
	                    "name_pattern": [
	                        {
	                            "pattern": ""
	                        },
	                        {
	                            "type": "Wildcard"
	                        },
	                        {
	                            "caseSensitive": true
	                        }
	                    ]
	                },
	                {
	                    "datatype": [
	                        {
	                            "typelist": [
	                                {
	                                    "org.knime.core.data.StringValue": false
	                                },
	                                {
	                                    "org.knime.core.data.IntValue": false
	                                },
	                                {
	                                    "org.knime.core.data.DoubleValue": false
	                                },
	                                {
	                                    "org.knime.core.data.BooleanValue": false
	                                },
	                                {
	                                    "org.knime.core.data.LongValue": false
	                                },
	                                {
	                                    "org.knime.core.data.date.DateAndTimeValue": false
	                                }
	                            ]
	                        }
	                    ]
	                }
	            ]
	        },
	        {
	            "rowkey.key": "key"
	        },
	        {
	            "direction": "KeepRows"
	        },
	        {
	            "column.name.separator": "."
	        },
	        {
	            "output.column.name": "JSON"
	        },
	        {
	            "row.key.option": "omit"
	        },
	        {
	            "column.names.as.path": false
	        },
	        {
	            "remove.source.columns": false
	        },
	        {
	            "output.boolean.asNumbers": false
	        },
	        {
	            "missing.values.are.omitted": true
	        }
	    ]
	}

	(n3): {
	    "name": "Column Filter",
	    "factory": "org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory",
	    "bundle_name": "KNIME Base Nodes",
	    "bundle_symbolic_name": "org.knime.base",
	    "bundle_version": "3.7.1.v201901291053",
	    "feature_name": "KNIME Core",
	    "feature_symbolic_name": "org.knime.features.base.feature.group",
	    "feature_version": "3.7.1.v201901291053",
	    "model": [
	        {
	            "column-filter": [
	                {
	                    "filter-type": "STANDARD"
	                },
	                {
	                    "included_names": [
	                        {
	                            "array-size": 11
	                        },
	                        {
	                            "0": "MaritalStatus"
	                        },
	                        {
	                            "1": "Gender"
	                        },
	                        {
	                            "2": "EstimatedYearlyIncome"
	                        },
	                        {
	                            "3": "SentimentRating"
	                        },
	                        {
	                            "4": "WebActivity"
	                        },
	                        {
	                            "5": "Age"
	                        },
	                        {
	                            "6": "Target"
	                        },
	                        {
	                            "7": "Available401K"
	                        },
	                        {
	                            "8": "CustomerValueSegment"
	                        },
	                        {
	                            "9": "ChurnScore"
	                        },
	                        {
	                            "10": "CallActivity"
	                        }
	                    ]
	                },
	                {
	                    "excluded_names": [
	                        {
	                            "array-size": 1
	                        },
	                        {
	                            "0": "NumberOfContracts"
	                        }
	                    ]
	                },
	                {
	                    "enforce_option": "EnforceExclusion"
	                },
	                {
	                    "name_pattern": [
	                        {
	                            "pattern": ""
	                        },
	                        {
	                            "type": "Wildcard"
	                        },
	                        {
	                            "caseSensitive": true
	                        }
	                    ]
	                },
	                {
	                    "datatype": [
	                        {
	                            "typelist": [
	                                {
	                                    "org.knime.core.data.StringValue": false
	                                },
	                                {
	                                    "org.knime.core.data.IntValue": false
	                                },
	                                {
	                                    "org.knime.core.data.DoubleValue": false
	                                },
	                                {
	                                    "org.knime.core.data.BooleanValue": false
	                                },
	                                {
	                                    "org.knime.core.data.LongValue": false
	                                },
	                                {
	                                    "org.knime.core.data.date.DateAndTimeValue": false
	                                }
	                            ]
	                        }
	                    ]
	                }
	            ]
	        }
	    ]
	}

}

Workflow {
	(n1:1)-->(n3:1)
	(n3:1)-->(n2:1)
}
