Nodes {
    (n1): {
        "name": "File Reader"
    },
    (n2): {
        "name": "Metanode",
        "type": "MetaNode",
        "connections": {
            (META_IN:1)-->(n1:1),
            (n1:1)-->(n2:1),
            (n2)~~>(META_OUT:1),
            (n2:1)-->(META_OUT:2)
        },
        "meta_in_ports": [
            {
                "1": "org.knime.core.node.BufferedDataTable"
            }
        ],
        "meta_out_ports": [
            {
                "1": "org.knime.core.node.port.flowvariable.FlowVariablePortObject"
            },
            {
                "2": "org.knime.core.node.BufferedDataTable"
            }
        ]
    },
    (n2.1): {
        "name": "Row Filter",
    },
    (n2.2): {
        "name": "Row Filter",
    },
    (n3): {
        "name": "CSV Writer"
    }
}

Workflow {
    "connections": {
        (n1:1)-->(n2:1),
        (n2:2)-->(n3:1),
        (n2:1)~~>(n3)
    }
}
