Nodes {
    (n1): {
        "name": "CSV Reader",
        "factory": "org.knime.base.node.io.csvreader.CSVReaderNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.2.v201904170949",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.2.v201904171038",
        "model": [
            {
                "url": "knime://knime.workflow/data/auto-mpg.csv"
            },
            {
                "colDelimiter": ","
            },
            {
                "rowDelimiter": "%%00010"
            },
            {
                "quote": "\""
            },
            {
                "commentStart": "#"
            },
            {
                "hasRowHeader": false
            },
            {
                "hasColHeader": true
            },
            {
                "supportShortLines": false
            },
            {
                "limitRowsCount": -1,
                "data_type": "xlong"
            },
            {
                "skipFirstLinesCount": -1
            },
            {
                "characterSetName": "",
                "isnull": true
            },
            {
                "limitAnalysisCount": -1
            }
        ],
        "port_count": 1
    }
}

Workflow {
    "variables": [
        {
            "test": "test"
        }
    ]
}
